<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .card {
            border: 1px solid black;
            padding: 15px;
            margin: 10px;
        }
    </style>
</head>
<body>
    {% for i, book in books %}
        <div class="card">
            <h1>name: <br> {{book.title}}</h1>
            <h1>desc: <br> {{book.description}}</h1>
            <h1>price: {{book.price}} tg</h1>
            <h1>rate: {{book.rate}}</h1>
            <h1>pages: {{book.list_count}}</h1>
            <a href="{{ i }}"> More info </a>
        </div>
    {% endfor %}
</body>
</html>
